<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body>
    <%- include('../nav.ejs') %>
    <h1>تسجيل الدخول</h1>
    <div><%= error%></div>
    <form action="/login" method="Post" class="ff">
        <div class="form-container">
            <div>
                <label for="email">الايميل</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div>
                <label for="password">كلمة المرور</label>
                <input type="password" id="password" name="password" required>
            </div>
        </div>
        <button type="submit">تسجيل الدخول</button>
        
    </form>
        <a href="/register">ليس لدي حساب حساب</a>
    <script src="js/main.js"></script></script>
</body>
</html>