<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>الحساب الشخصي</title>
    
</head>
<body>
    <%- include('../nav.ejs') %>
    <div id="courses">

        <div>Hi <%= name %></div>
        <a href="/courses/dashboard">لوحة تحكم الكورسات</a></li>
        <a href="/users">لوحة تحكم المستخدمين</a></li>
    </div>
    <script>
        let x=document.querySelector('.nav__link')
        x.innerHTML+='<a href="/logout">  تسجيل الخروج</a></li>'
    </script>
    <script src="js/main.js"></script></script>
</body>
</html>