<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style.css" />
    <title>uploading video</title>
  </head>
  <body>
    <div>
      <h2><%= lesson.title%></h2>
      <label>upload File </label>
      <input type="file" class="myFiles" id="<%= lesson.id%>" multiple />
      <button class="upload">upload</button>
    </div>
    <video src="/videos/<%= lesson.id %>" controls controlslist="nodownload">
      video
    </video>

    <script>
      const vid = document.getElementsByClassName("hide")[0];
      const button = document.getElementsByClassName("upload")[0];
      console.log(button);
      const file = document.getElementsByClassName("myFiles")[0];
      console.log(file);
      let id = file.id;
      const sendFiles = async () => {
        const myFiles = file.files;

        const formData = new FormData();
        formData.append("file", myFiles[0]); // ✅ always "file"

        const response = await fetch(
          // `https://mr-ahmed-ghareeb.onrender.com/lessons/upload/${id}`,
          `http://localhost:8080/lessons/upload/${id}`,
          {
            method: "POST",
            body: formData,
          }
        );

        const json = await response.json();
        console.log(json);
      };

      button.addEventListener("click", (e) => {
        console.log("click");
        e.preventDefault(id);
        sendFiles();
        refreash(id);
        console.log(id);
      });

      function refreash(id) {
        // window.location = `https://mr-ahmed-ghareeb.onrender.com/lessons/lessonUpload/${id}`;
        window.location = `http://localhost:8080/lessons/lessonUpload/${id}`;

      }
    </script>
  </body>
</html>
