<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/bg.webp">
    <link rel="stylesheet" href="styles/style.css">
    <title>Home</title>

    
</head>


<body>


    <nav class="nav">
      <div id="logo">

        <a href="/" >Mr / Ahmed Ghareeb</a>
      </div>

      <div class="hamburger">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>

      <div class="nav__link hide">


        <a href="/login">تسجيل الدخول</a></li>
        <a href="/register">انشاء حساب</a></li>
        <a href="/courses">الكورسات</a></li>
        <a href="/courses/dashboard">لوحة تحكم الكورسات</a></li>
        <a href="/users">لوحة تحكم المستخدمين</a></li>
      </div>
    </nav>

</body>
  <!-- <header id="navbar">
    <nav class="navbar-container container">
      <a href="/" class="home-link">
        <div class="navbar-logo"></div>
        Website Name
      </a>
      <button type="button" id="navbar-toggle" aria-controls="navbar-menu" aria-label="Toggle menu" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div id="navbar-menu" aria-labelledby="navbar-toggle">
        <ul class="navbar-links">
          <li class="navbar-item"><a class="navbar-link" href="/about">About</a></li>
          <li class="navbar-item"><a class="navbar-link" href="/blog">Blog</a></li>
          <li class="navbar-item"><a class="navbar-link" href="/careers">Careers</a></li>
          <li class="navbar-item"><a class="navbar-link" href="/contact">Contact</a></li>
        </ul>
      </div>
    </nav>
  </header> -->


<!--   
    <nav class="navbar">
      <div class="navbar-logo">Mr / Ahmed Ghareeb</div>
      <ul class="navbar-menu">
        <li><a href="/login">تسجيل الدخول</a></li>
        <li><a href="/register">انشاء حساب</a></li>
        <li><a href="/courses">الكورسات</a></li>
        <li><a href="/courses/dashboard">لوحة تحكم الكورسات</a></li>
        <li><a href="/users">لوحة تحكم المستخدمين</a></li>
      </ul>
      <div class="navbar-toggle">
        <span class="navbar-toggle-icon"></span>
      </div>
  </nav>
 -->

  <div class="image-container">
      <img   src="images/bg.webp" alt="">
  </div>
    
  <footer>
    <div>Email : asemelbadahy@gmail.com</div>
    <div> Phone : 01060606060</div>
    <div>قناة اليوتيوب : <a href="https://www.youtube.com/@zaker_maths" target="_blank">ذاكر وتعلم</a></div>
    <div>Copyright@2023</div>
  </footer>

  <script>
    const hamburger = document.querySelector('.hamburger');
const navLink = document.querySelector('.nav__link');

hamburger.addEventListener('click', () => {
  navLink.classList.toggle('hide');
});


  </script>


  </body>
</html> 