<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/bg.webp">
    <link rel="stylesheet" href="styles/style.css">
    <title>Home</title>

    
</head>


<body>

  <%- include('nav.ejs') %>
<!-- 
    <nav class="nav">
      <div id="logo">

        <a href="/" >Mr / Ahmed Ghareeb</a>
      </div>

      <div class="hamburger">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>

       <div class="nav__link hide">
        <a href="/logout">  تسجيل الخروج</a></li>
        <a href="/login">تسجيل الدخول</a></li>
        <a href="/register">انشاء حساب</a></li>
        <a href="/courses">الكورسات</a></li>
        <a href="/courses/dashboard">لوحة تحكم الكورسات</a></li>
        <a href="/users">لوحة تحكم المستخدمين</a></li>
      </div>
    </nav>  -->


    
    <div class="image-container">
      <img   src="images/bg.webp" alt="">
  </div>
    
  <footer>
    <div>Email : asemelbadahy@gmail.com</div>
    <div> Phone : 01060606060</div>
    <div>قناة اليوتيوب : <a href="https://www.youtube.com/@zaker_maths" target="_blank">ذاكر وتعلم</a></div>
    <div>Copyright@2023</div>
  </footer>

  <script src="js/main.js"></script>"></script>


  </body>
</html> 