<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style.css" />
    <title>كيفية شراء الكورس</title>
  </head>
  <body>
    <%- include('nav.ejs') %>
    <h1>كيفية شراء الكورس</h1>
    <div style="text-align: center;">
      <h2>1. تواصل معنا عبر الواتساب 01067789574</h2>
      <h2>2. الدفع عبر فودافون كاش</h2>
        
    </div>
    <script src="js/main.js"></script>
  </body>
</html>
