<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style.css" />
    <title><%= lesson.title %></title>
  </head>
  <body>
    <%- include('nav.ejs') %>
    <br />
    <h1><%= lesson.title %></h1>
    <br /><br />

    <iframe
    src="<%= lesson.video %>
    width="640"
    height="360" 
    style="height: 60%; width: 75%; aspect-ratio: 640 / 360;"
    allow="autoplay; fullscreen; encrypted-media; picture-in-picture"
    allowfullscreen
    frameborder="0"
  ></iframe>

    <script src="../js/main.js"></script>
  </body>
</html>
