<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css"> 

   
    <title>courses lessons</title>
</head>
<body>
    <%- include('nav.ejs') %>
    <h1>دروس <%=title%>  </h1>


    <% lessons.map(lesson=>{ %>
      <div class="lessons lesson">
        <h3>
            <div id="lesson_name">
               <%= lesson.title %>
            </div>
        </h3>
        <% if (lesson.public) { %>
            <h3>
              <a href="/lessons/lesson/<%= lesson.id %>">درس مجاني</a>
            </h3>
          <% } else { %>
            <h3>
              <h3> درس مدفوع</h3>
            </h3>
          <% } %>
          
    </div>
    
    <% })%> 

    <script src="../js/main.js"></script></script>
</body>
