<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style.css" />
    <title><%=lesson.title%></title>
  </head>
  <body>
    <%- include('nav.ejs') %>

    <br />
    <h1><%=lesson.title%></h1>
    <br /><br />

    <iframe
      style="width: 80vw; height: 60vh; border: none"
      src="<%= lesson.video %>"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>

    <script src="../js/main.js"></script>
  </body>
</html>
