<nav class="nav">
  <div id="logo">
    <a href="/" >Mr / Ahmed Ghareeb</a>
  </div>

  <div class="hamburger">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </div>

  <div class="nav__link hide">
    <a href="/profile"> الحساب الشخصي</a></li>
    <a href="/register">انشاء حساب</a></li>
    <a href="/courses">الكورسات الموجودة علي الموقع</a></li>
    <a href="/login">تسجيل الدخول</a></li>
    <a href="/logout">تسجيل الخروج</a></li>
    </div>
</nav> 
