<nav class="nav">
  <div id="logo">
    <a href="/" >Mr / Ahmed Ghareeb</a>
  </div>

  <div class="hamburger">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </div>

  <div class="nav__link hide">
    <a href="https://mr-ahmed-ghareeb.onrender.com/profile"> الحساب الشخصي</a></li>
    <a href="https://mr-ahmed-ghareeb.onrender.com/register">انشاء حساب</a></li>
    <a href="https://mr-ahmed-ghareeb.onrender.com/courses">الكورسات الموجودة علي الموقع</a></li>
    <a href="https://mr-ahmed-ghareeb.onrender.com/login">تسجيل الدخول</a></li>
    <a href="https://mr-ahmed-ghareeb.onrender.com/logout">تسجيل الخروج</a></li>
    </div>
</nav> 
