





<nav class="nav">
  <div id="logo">

    <a href="/" >Mr / Ahmed Ghareeb</a>
  </div>

  <div class="hamburger">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </div>

  <div class="nav__link hide">
    <a href="/profile"> الحساب الشخصي</a></li>
    <a href="/register">انشاء حساب</a></li>
    <a href="/courses">الكورسات</a></li>
    <a href="/courses/dashboard">لوحة تحكم الكورسات</a></li>
    <a href="/users">لوحة تحكم المستخدمين</a></li>
    <a href="/logout">  تسجيل الخروج</a></li>
    <a href="/login">تسجيل الدخول</a></li>
    </div>
</nav> 