<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>lessons</title>
    <link rel="stylesheet" href="../styles/style.css" />
  </head>
  <body>
    <%- include('nav.ejs') %>

    <h1>دروس <%=title%></h1>
    <% if (lessons.length === 0) { %>
    <h1 style="text-align: center; color: rgb(255, 184, 53);">لا يوجد دروس لهذا الدورة</h1>
    <% } %> 
    <% else { %> <% lessons.map(lesson=>{ %>
    <div class="lessons lesson">
      <h3>
        <a href="/lessons/lesson/<%= lesson.id%>" id="lesson_link">
          <div id="lesson_name"><%= lesson.title %></div>
          <img src="../images/play2.png" alt="play_button" id="play_button" />
        </a>
      </h3>
    </div>

    <% })%>
     <% } %>
    <script src="../js/main.js"></script>
  </body>
</html>
