html body{
    margin: 0px;
    height: 100%;
    color: white;
    background-color:#080c14;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family:Arial, Helvetica, sans-serif;
}

div{
    font-size: 25px;
    color: rgb(255, 184, 53);
}
/* background img */
.image-container {
    overflow: hidden;
}

img{
    height: 90vh;
    width: 100vw;
}


/* navbar styling */
nav {
    width: 100%;
}

nav button  {
    margin-right: 20px;
    

}
.navbar-brand  h1{
    margin-left: 10px;
    color: rgb(255, 184, 53);
    color:#080c14;
    

}

nav li a{
    margin: 10px;
}

a{
    text-decoration: none;
    color:white;
}

iframe{
    width: 900px;
    height: 500px;
}

/* stylinlg tables */
table {
    text-align: center;
    border: 1px black solid;
}


tr ,td,th{
    padding: 10px;
    border:solid 1px white;
}

/* courses page styling */

#container{
    padding: 0px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
}


#courses{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    width: 250px;
    background-color:#111827;
    margin: 10px;
    padding: 2%;
    border-radius: 15px;
    color: white;
}

#courses div{
    margin: 10px;
}

#lessons_show{
    margin: 4px;
    background-color: #4CAF50;
    color: white;
    font-size: 20px;
    padding: 3px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    border:#4CAF50 1px;
}
/* lessons */
.lessons{
    background-color: #111827;
    padding: 0 2% 0 2%;
    border-radius: 10px;
    width: 50%;
    display: inline-block;
    border-bottom: #080c14 4px solid;

}
/* forms styling */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

label{
    text-align: center;
    color: rgb(255, 184, 53);
}


input  {
    height: 35px;
    background-color: #080c14;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgb(255, 184, 53) ;
    border-radius: 4px;
    margin-bottom: 10px;
    color: white;
}


select{
    margin: 10px;
    font-size: 18px;
}


form div{
    width: 280px;
}

.ff{ 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color:#111827;
    height: auto;
    width: auto;
    padding: 4%;
    margin: 20px;
}

/* buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 5px;
    font-size: 20px;
}

#delete{
    background-color: rgb(210, 56, 56);
}

/* footer */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100px;
}

footer div{
    display: inline-block;
    font-size: 18px;
}

/* media query */
@media only screen and (max-width: 768px) {
    .userstable td , th ,tr{
        word-wrap: break-word;
        font-size: 10px;
        padding: 0px;
        margin: 0px;
    }

    form{
        padding: 0px;
        margin: 0px;
    }

    button{
        padding-top: 7px;
        margin: 0px;
        font-size: 10px;
    }

    .lessons{
        font-size: 15px;
    
    }

    iframe{
        width: 400px;
        height: 280px;
    }
}