html body{
    margin: 0px;
    height: 100%;
}
body{
    color: white;
    background-color:#172030;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}
     
#bg{
    height: 100vh;
    width: 100%;
}

nav{
    width: 100%;
}


a{
    text-decoration: none;
    color:white;
}
table {
    text-align: center;
}


table{
    border: 1px black solid;
}

tr ,td,th{
    padding: 10px;
    border:solid 1px white;
}


#courses{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100px;
    width: 200px;
    background-color: black;
}


form input{
    margin: 10px;
}