html body{
    height: 100%;
}
body{
    color: aliceblue;
    background-color:#080c14;
}

a{
    text-decoration: none;
    color: aliceblue;
    margin-right: 10px;
}
table {
    text-align: center;
}

nav{
    padding: 10px;
}




table{
    border: 1px black solid;
}
tr ,td,th{
    border:solid 1px white;
}