<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>courses</title>
</head>
<body> 
    <h1>المواد</h1>
    <% courses.map(course=>{ %>
        <div>السنة الدراسة <%= course.title %></div>
        <div>  <%= course.description %></div>
        <a href="/lessons/show/<%= course.id %>">دروس المادة</a>


        <br><br>
    <% })%>
</body>
</html>