<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>courses</title>
</head>
<body>
    <h1>our courses</h1>
    <% courses.map(course=>{ %>
        <div><%= course.title %></div>
        <div><%= course.description %></div>
        <a href="/lessons/<%= course.id %>">lessons</a>


        <br><br>
    <% })%>
</body>
</html>