<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../public/styles/style.css">


    <style>
        *{

            margin: 0px;
            padding: 0px;
        }
        nav {
            padding-top: 10px;
            padding-left: 10px;
            display: flex;
            
        }
        nav a{
            margin-right: 10px;
        }
        
        a{
            text-decoration:none;
        }
        
    </style>
</head>
<body>
    <nav>
        
        <a href="/login">تسحيل الدخول</a>
        <a href="/register">انشاء حساب</a>
        <a href="/courses">المواد</a>
        <a href="/courses/dashboard">لوحة التحكم</a>
        <a href="/users/">لوحة المستخدمين</a>
        <a href="/profile">الحساب الشخصي</a>
      
        <a href="/logout">تسجيل الخروج</a>
    </nav>
</body>
</html> 