<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">

    <title>Edit</title>
</head>
<body>
    <h1>تعديل المادة</h1>
    <form action="/courses/update/<%= course.id %>?_method=put" method="Post">
        <div>
            <label for="title">ايم المادة</label>
            <input type="text" id="title" name="title" value="<%= course.title%>">
        </div>
 
        <div>
            <label for="description">الفصل الدراسي</label>
            <input type="text" id="description" name="description" value="<%= course.description%>">
        </div>

        <button type="submit">حفظ</button>
    </form>
</body>
</html>