<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h1>Edit</h1>
    <form action="/courses/update/<%= course.id %>?_method=put" method="Post">

        <div>
            <h1><%=course.id%></h1>
            <label for="title">title</label>
            <input type="text" id="title" name="title" value="<%= course.title%>">
        </div>
 
        <div>
            <label for="description">description</label>
            <input type="text" id="description" name="description" value="<%= course.description%>">
        </div>

        <button type="submit">Save</button>
    </form>
</body>
</html>