<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body>
    <h1>انشاء حساب</h1>
    <form action="/register" method="Post">
        <div>
            <label for="name">الاسم</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="email">الايميل</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="password">كلمة المرور</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <label for="number">ادخل رقم الهاتف وسيتم التواصل معك علي الواتساب  </label><br>
            <input type="text" id="number" name="number" required>
        </div>
        <button type="submit">انشاء الحساب</button>
    </form>
    <a href="/login">تسجبل الدخول</a>
</body>
</html>